<a href="https://colab.research.google.com/github/Dipg/Prueba/blob/master/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df={'numeros':[1,4,3,5,7,5],'palabras':['Uno','Cuatro','tres','Cinco','Siete','Cinco']}

In [0]:
df=pd.DataFrame(df)

In [11]:
df

   numeros palabras
0        1      Uno
1        4   Cuatro
2        3     tres
3        5    Cinco
4        7    Siete
5        5    Cinco

In [16]:
df['palabras'].value_counts()

Cinco     2
Siete     1
Uno       1
tres      1
Cuatro    1
Name: palabras, dtype: int64